.torsk-btn {
    padding: 20px 30px;
    font-size: 100px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.drum-btn {
    padding: 20px 30px;
    font-size: 60px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.torsk-checked {
    line-height: 150px;
    width: 100%;
    height: 70px;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.5;
}

body {
    width: 100%;
    height: 100%;
}

html, body {
  height: 100%;
}

table {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

td:hover {
    opacity: 0.2;
}